<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $s_lang?>" />
<title>安装程序 - 欢迎访问织梦铺获得更多网站模板</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="top">
	<div class="top-logo">
		
	</div>
	<div class="top-link">
		<ul>
<li><a href="http://www.hkhostweb.Com" target="_blank" class="sign_up" hidefocus>香港空间</a></li>
        	<li><a href="http://www.hainacms.com" target="_blank" class="sign_up" hidefocus>四合一网站</a></li>
			<li><a href="http://www.hainacms.com/qiyezhanqun.html" target="_blank" class="sign_up" hidefocus>站群CMS</a></li>
			<li><a href="http://www.Aliququ.com" target="_blank" class="sign_up" hidefocus>IDC代理</a></li>
            <li><a href="http://www.PaiBei.Net" target="_blank" class="sign_up" hidefocus>拍呗站长交易</a></li>
			<li><a href="http://www.HaiNaIDC.Com" target="_blank" class="sign_up" hidefocus>海纳数据</a></li>
            <li><a href="http://www.AdminBaBy.Com" target="_blank" class="sign_up" hidefocus>站长宝贝</a></li>
            <li><a href="http://www.madeseo.com" target="_blank" class="sign_up" hidefocus>万词霸屏</a></li>
            <li><a href="http://www.alidoor.cn" target="_blank" class="sign_up" hidefocus>阿里开门</a></li>
            <li><a href="http://www.ectheme.com" target="_blank" class="sign_up" hidefocus>主题</a></li>
            <li><a href="http://www.wangblock.com" target="_blank" class="sign_up" hidefocus>网块</a></li>
		</ul>
	</div>
	<div class="top-version">
		<!-- 版本信息 -->
		<h2>DEDECMS<?php echo $verMsg; ?></h2>
	</div>
</div>

<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="succeed">环境检测</li>
					<li class="succeed">参数配置</li>
					<li class="succeed">正在安装</li>
					<li class="now">安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright">
		<div class="pr-title"><h3>安装完成</h3></div>
		<div class="install-msg">
			恭喜您!已成功安装织梦内容管理系统.您现在可以:
			<br />
			<?php echo $errmsg; ?>
		</div>
		<div class="over-link fs-14">
			<a href="../index.php?upcache=1">访问网站首页</a>
			<a href="../dede">登录网站后台</a>
		</div>
		<div class="install-msg">
			或者访问织梦网站:<br />
		</div>
		<div class="over-link">
<a href="http://www.DeDePu.Com" target="_blank" class="sign_up" hidefocus>织梦模板</a>
<a href="http://www.outidc.com" target="_blank" class="sign_up" hidefocus>西部空间5折</a>
<a href="http://www.madecms.com" target="_blank" class="sign_up" hidefocus>三合一网站</a>
<a href="http://www.wangblock.com" target="_blank" class="sign_up" hidefocus>网块数据</a>
<a href="http://www.AdminBaBy.Com" target="_blank" class="sign_up" hidefocus>站长宝贝网</a>
<br /><br />
<a href="http://www.PaiBei.Net" target="_blank" class="sign_up" hidefocus>站长交易网</a>
<a href="http://www.aliququ.Com" target="_blank" class="sign_up" hidefocus>IDC代理</a>
<a href="http://www.weixinqi.com" target="_blank" class="sign_up" hidefocus>微信齐</a>
<a href="http://www.madeseo.com" target="_blank" class="sign_up" hidefocus>万词霸屏</a>
<a href="http://www.diythenet.com" target="_blank" class="sign_up" hidefocus>自助互联网</a>
<br /><br />
<a href="http://www.HaiNaCms.Com" target="_blank" class="sign_up" hidefocus>海纳企业建站</a>
<a href="http://www.JinLuZi.Com" target="_blank" class="sign_up" hidefocus>金路子电商课</a>
<a href="http://www.iHuLianWang.Com" target="_blank" class="sign_up" hidefocus>我的互联网</a>
<a href="http://www.KouMai.Com" target="_blank" class="sign_up" hidefocus>口麦网</a>
<a href="http://www.YiQiDa.Com" target="_blank" class="sign_up" hidefocus>易企达</a>
		</div>
	</div>
</div>

<div class="foot">
</div>

</body>
</html>


